.personals {
  background-color: lightgray;
  min-height: 650px;
}
.avatar {
  text-align: center
}
.det {
  font-size: 8vw;
}

h6 {
  font-size: 2vw;
}

.generic {
  background-color: lightblue;
}

.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}